<div *ngFor="let n of allNews">
    <table>
        <tr>
            <td> <img src="/assets/images/{{n.imageName}}" alt="News image" width="120px" height="150px"> </td>
            <td> 
                <h2>{{n.headline}} </h2>
                <h3>{{n.category}}</h3>
                <p> {{n.mainNews|myMainNews}} </p>
                
                <br/>
                <button value="{{n.category}}" (click)="viewNewsDetails(news.value)" #news> View Details</button>
                    
                
            </td>
            
        </tr>
    </table>
    </div>